.about__logo-image {
    width: 240px;
    height: 240px;
    background-color: black;
    background-image: url(../../../images/logo-white.svg);
    background-position: center;
    background-size: 148px auto;
    background-repeat: no-repeat;
    border-radius: 120px;
    
}